
@media (max-width: 650px) {
    .Nav_bar{
        background-color: #1a197b;
        margin: 0px;
        padding: 19px;
    }
    .Nav_bar_img{
        padding-left: 0px;
        width: 35vw;
        height: 6vh;
    }
    .Search_bar{
        display: none;
    }
    .Cerousel_firstImg{
        background-image: url("FashionQuest-main/resources/v904-nunny-012\ 1.png");
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 120vh;
    }
    .Cerousel_SecondImg{
        background-image: url("FashionQuest-main/resources/iPhone12ProReflection3x2.png");
        width: 100%;
        height: 120vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .Cerousel_img{
        width: 300px;
        margin-bottom: -250px;
        
    }
    .font_title{
        font-size: 20px;
        color:#a189ba;
    }
    .Cerousel_pera{
        font-weight: 600;
        font-size: 20px;
    }
    .Font_style{
        font-weight: 100px;
        font-size: 45px;
    }
    .cerousel_left{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40%;
        margin-top: 300px;
        margin-bottom: -180px;
        text-align: center;

    }
    .Font_style2{
        font-weight: bold;
        font-size: 55px;
    }
    .Cerousel_button{
        background-color: #1a197b;
        color: white;
        padding: 10px 50px;
        border: none;
        border-radius: 5px;
        font-weight: bolder;
    }
    .main_top{
        display: flex;
        flex-direction: column;
    }
    .iPad_Apple{
        width: 100%;
        height: 150%;
        display: flex;
        flex-direction: column;
    }
    .iPad_9{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 130%;
    }
    .iPad_9_img img{
        width: 370px;
        margin-top: 86px;
        margin-left: -30px; 
        padding: 50px;
    }
    .iPad_9_text{
        margin-top: 60px;
        margin-right: 20px;
    }
    .Main_left_bg_img{
        background-color: #adc2d7;
        background-image:url("FashionQuest-main/resources/hero__gnfk5g59t0qe_xlarge_2x\ 1.png");
        background-repeat: no-repeat;
        height: 30%;
        justify-content: center;
        align-items: center;
    }
    .Apple_text{
        margin-left: 200px;
        margin-top: -30px;
    }
    .Macbook{
        background-color: #ececed;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150%;
        align-items: center;
        justify-content: center;
    }
    .macbook_img_lg{
        display: none;
    }
    .macbook_img_sm{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        width: 400px;
        height: 250px;
    }
    .macbook_title{
        font-weight:100;
        font-size: 50px;
    }
    .Macbook_button{
        background-color: #26448f;
        color: white;
        padding: 10px 50px;
        border: none;
        border-radius: 5px;
        font-weight: bolder;
    }
    .Apple_title{
        font-weight: lighter;
    }
    .Apple_pera{
        color: white;
    }
    .main_center{
        background-color: #fbfafb;
        /* padding: 40px; */
        margin-top: -17px;
        
    }
    .Browse_title{
        font-size: 30px;
        font-weight: lighter;
        margin-left: -110px;
    }
    .Browse{
        display: flex;
        flex-direction: row;
    }
    .Greater_less_then{
        display: flex;
        gap: 65px;
        margin-right: -120px;
    }
    .Browse_logo_deign{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }
    .Browse_logo{
        background-color: #ececed;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 190px;
        height: 150px;
    }
    .Browse_icon{
        width: 53px;
        font-size: 50px;
        text-align: center;
        justify-content: center;
    }
    .Heading_container{
        width: 80%;
        text-align: left;
    }
    .main_buttom_title{
        display: flex;
        gap: 30px;
        padding-top: 40px;
        padding-bottom: 25px;
        font-size: 21px;
        font-weight: lighter;
    }
    .New_arrival{
        font-weight: bolder;
    }
    .Grand_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card_Container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        gap: 1rem;
        width: 80%;
        margin:auto 0;
    }
    .card{
        background-color: #f7f7f6;
    }
    .Card_Container_img{
        width: 140px;
        height: 150px;
    }
    .Card_icon{
        font-size: 35px;
    }
    .Card_icon_container{
        text-align: right;
        padding-right: 23px;
        padding-top: 30px;
    }
    .Card_Container_main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border: none;
    }
    .Footer_Top{
        margin-top: 40px;
        background-color: #948ad5;
        width: 100%;
        height: 130vh;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Footer_top_left_img2{
        display: block;
        width: 350px;
        margin-top: -300.5px;
        margin-right: 300px;
        margin-left: 300px;
    }
    .Footer_top_left_img{
        display: none;
    }
    .Footer_Top_center_text{
        text-align: center;
        margin-left: 90px;
        margin-right: 80px;
        padding: 10px 10px;
    }
    .Font_size{
        font-size: 70px;
        color: #25177b;
        font-weight: 900;
    }
    .font_color{
        color: white;
    }
    .Footer_top_right_img2{
        display: block;
        width: 300px;
        margin-right: -215px;
        margin-bottom: -300px;
        margin-top: 135px;
    }
    .Footer_top_right_img{
        display: none;
    }
    .Footer_buttom{
        background-color: #0e061a;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 150vh
    }
    .Footer_buttom_main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 90px;
        gap: 4rem;
    }
    .footer_logo_img{
        width: 300px;
        margin-top: -10px;
    }
    .Footer_icon2{
        font-size: 23px;
        color: white;
        display: grid;
        grid-template-columns:repeat(4,0.1fr) ;
        gap: 3rem;
    }
    .Footer_icon{
        display: none;
    }
    .Footer_text_main{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 4rem;
        color: #767687;
    }
    .Footer_text1 h1{
        font-size: 25px;
    }
    .Footer_text2 h1{
        font-size: 25px;
    }
    
  }